//- +icon-svg({name: 'icon-name', __class: 'class-name'})
mixin icon-svg(spec)
    - spec = spec || {}
    - spec.id = spec.id || ''
    - spec.__class = spec.__class || spec.id
    - spec.src = spec.src || baseUrl + 'images/icon-sprite.svg'

    svg(class=spec.__class)&attributes(attributes)
        use(xlink:href=`${spec.src}#${spec.id}`)
            
mixin img-svg(spec)
    - spec = spec || {}
    - spec.id = spec.id || ''
    - spec.__class = spec.__class || spec.id
    - spec.src = spec.src || baseUrl + 'images/img-sprite.svg'

    svg(class=spec.__class)&attributes(attributes)
        use(xlink:href=`${spec.src}#${spec.id}`)

//- +svg('img-name', 'class-name')
mixin svg-img(id, __class, src)
    if !src
        - var src = baseUrl + 'images/svg'
    if !__class
        - var __class = id

    span(class=__class)
        img(src=`${src}${id}.svg`)

mixin svg-icon(id, src, attrs)
    if !src
        - var src = baseUrl + 'images/icon-sprite.svg'
    if !attrs
        - var attrs = {}

    svg(class=`icon icon-${id}`)&attributes(attrs)
        use(xlink:href=`${src}#${id}`)
